/* Definição de variáveis */
:root {
  /* Cores principais do site */
  --cor-principal: #6E3E20;
  --cor-secundaria: #FCDBE0;
  --cor-terciaria: #FE8AA2;
  
  /* Fonte principal do site */
  --fonte-principal: 'Poppins', sans-serif;
  
  /* Cores de texto e fundo */
  --cor-texto: #6E3E20;
  --cor-fundo: transparent;
  
  /* Cor da borda */
  --cor-borda: #6E3E20;
}

/* Estilos Globais */
* {
  /* Reset de estilos */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do vídeo de fundo */
#video-fundo {
  /* Posicionamento do vídeo */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  transform: translateZ(0);
}

/* Estilo do corpo do site */
body {
  /* Fonte principal do site */
  font-family: var(--fonte-principal);
  
  /* Imagem de fundo do site */
  background-image: url('../IMG/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Estilo dos títulos */
h2 {
  /* Alinhamento dos títulos */
  text-align: left;
  color: var(--cor-principal);
  padding: 10px;
}

/* Estilo das seções */
section {
  /* Cor do texto das seções */
  color: var(--cor-principal);
  text-align: center;
  
  /* Estilo dos títulos das seções */
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
}

/* Estilo dos links */
a {
  /* Cor do texto dos links */
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-style: italic;
  padding: 10px;
  margin-bottom: 40px;
}

/* Estilo dos links ao passar o mouse */
a:hover {
  background-color: var(--cor-terciaria);
  transition: all 0.1s ease-in-out;
}

/* Estilo das listas */
ul {
  /* Alinhamento das listas */
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

/* Estilo dos itens das listas */
li {
  /* Alinhamento dos itens das listas */
  display: flex;
  align-items: center;
  margin-left: 5px;
  padding-right: 10px;
}

/* Estilo dos ícones */
.icon {
  /* Tamanho dos ícones */
  width: 16px;
  height: 16px;
  margin-right: 8px;
  color: var(--cor-terciaria);
  filter: hue-rotate(720deg);
  opacity: 0,6;
  mix-blend-mode: multiply;
}

.icon-email {
  /* Cor do ícone de email */
  color: var(--cor-principal);
  text-align: center;
  filter: hue-rotate(720deg);
  margin: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: var(--cor-secundaria);
  box-shadow: 0px 4px 8px var(--cor-secundaria);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
}

.icon-email:hover {
  /* Efeito ao passar o mouse no ícone de email */
  background-color: var(--cor-terciaria);
  transition: all 0.1s ease-in-out;
}

/* Estilos gerais do formulário */
form {
  /* Largura máxima do formulário */
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--cor-principal);
  border-radius: 10px;
  background-color: var(--cor-fundo);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  transition: all 0.5s ease-in-out;
}

/* Estilo da notificação */
.notificacao {
  /* Cor do texto da notificação */
  background-color: var(--cor-fundo);
  border: 1px solid var(--cor-borda);
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Ajuste de rótulos e entrada */
label {
  /* Alinhamento dos rótulos */
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
  width: 100%;
  align-items: center;
  color: var(--cor-principal);
}

/* Estilo do container de confirmação */
.confirmacao-container {
  /* Alinhamento do container de confirmação */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
}

/* Estilo dos inputs */
input[type="text"],
input[type="email"],
textarea {
  /* Largura dos inputs */
  width: 100%;
  padding: 1px;
  margin-left: 8px;
  margin-bottom: 5px;
  border: 1px solid var(--cor-principal);
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  color: var(--cor-texto);
}

/* Estilo dos botões */
button {
  /* Largura dos botões */
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Estilo dos erros */
.erro {
  /* Cor do texto dos erros */
  color: #FF0000; /* vermelho */
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FF0000;
  border-radius: 5px;
  background-color: #FFFFFF;
}

/* Estilo dos botões ao passar o mouse */
button:hover {
  background-color: var(--cor-terciaria);
}

/* Estilo do main */
main {
  /* Altura do main */
  height: 100%;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

/* Estilo do about */
.about {
  text-align: left;
}

.about section {
  margin-bottom: 20px;
  text-align: left;
}

.about h2 {
  font-size: 24px;
  margin-top: 0;
  text-align: left;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
}

/* Estilo do temporizador */
#countdown {
  /* Alinhamento do temporizador */
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

/* Estilo dos círculos */
.circle {
  /* Tamanho dos círculos */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: var(--cor-secundaria);
  border: 2px solid var(--cor-terciaria);
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Estilo dos círculos ao passar o mouse */
.circle:hover {
  transform: scale(1.1);
}

/* Estilo do footer */
footer {
  /* Cor do texto do footer */
  background-color: transparent;
  color: var(--cor-texto);
  text-align: center;
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--cor-terciaria);
}

/* Estilo da notificação */
#notificacao {
  /* Cor do texto da notificação */
  color: var(--cor-principal);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-terciaria);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

/* Estilo da mensagem */
#mensagem {
  /* Tamanho da mensagem */
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 9999;
  color: var(--cor-texto);
  padding: 10px;
  
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo da mensagem de sucesso */
#mensagem.success {
  /* Cor do texto da mensagem de sucesso */
  color: #2ecc71;
  background-color: var(--cor-fundo);
  border-color: #2ecc71;
}

/* Estilo da mensagem de erro */
#mensagem.error {
  /* Cor do texto da mensagem de erro */
  color: #e74c3c;
  background-color: var(--cor-fundo);
  border-color:   #e74c3c;
}

/* Media Queries para dispositivos móveis */
@media only screen and (max-width: 480px) {
  /* Ajustes para dispositivos móveis pequenos */
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  .container {
    padding: 20px;
  }
  .button {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Ajustes para dispositivos móveis médios */
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  .container {
    padding: 30px;
  }
  .button {
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Ajustes para tablets */
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  .container {
    padding: 40px;
  }
  .button {
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 1025px) {
  /* Ajustes para desktops */
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  .container {
    padding: 50px;
  }
  .button {
    padding: 25px 50px;
  }
}